p{
    color:rgb(0, 0, 0);
    font-family: myfontbold;
    font-size: 10vh;
    text-align:left;
    font-weight: bold;
    margin:0px;
    padding:0px;
    line-height:1;
}

.titles{
    margin-top:20vh;
    font-size:11vw;
    text-align:center;
}



#meinbild{
    display:block;
    margin-left:auto;
    width:50vw;
}

.überschrift{
    display:flex;
    align-items:flex-end;
    
}
.bilder{
    display:flex;
    justify-content:center;
    gap:10px;
}

.bilder img{
    height: 21vh;
    width: auto;
    display: block;
    margin-top:10vh;
}

.graphicdesignbilder, .illustrationbilder{
    display:flex;
    justify-content:center;
    gap:5vh;
}
.graphicdesignbilder img, .illustrationbilder img{
    height: 50vh;
    width: auto;
    display: block;
    margin-top:10vh;



@font-face {
    font-family:myfontbold;
    src: url(./fonts/Anton-Regular.ttf);
}

.button{
    width:20vw;
    display:block;
    margin:auto;
}